@page "/"


<title>Index</title>

<div class="vw-100 vh-100 bg-black bg-gradient d-flex align-items-center justify-content-center">
    <section class="w-100 h-25 d-flex ">
        <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <a class="fade-in d-flex justify-content-center align-items-center text-center textInput text-decoration-none bg-success text-center text-white" href="Home">Go Homepage</a>
        </div>
    </section>


</div>


@code {
}
